<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.fiction.dao.bookinformationMapper">
    <select id="selectbookByRandom" resultType="bookinformation">
        SELECT * FROM `bookinformation` WHERE `id`=#{id}
    </select>
    <select id="selectUserByUsernameAndpwd" resultType="bookuser">
        SELECT * FROM `bookuser` WHERE `username`=#{username} AND `password`=#{password}
    </select>
    <select id="selectUserByLoginName" resultType="bookuser">
        SELECT * FROM `bookuser` WHERE `username`=#{username}
    </select>
    <select id="selectUserRole" resultType="bookuser">
        SELECT * FROM `bookuser` WHERE `username`=#{username}
    </select>
    <insert id="addUser">

    </insert>
</mapper>