<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>纵横小说网底部</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <style type="text/css"></style>
    <link rel="stylesheet" href="../css/bottom.css">
</head>
<body>
<footer id="footer">
   <div class="container">
       <div class="row">
           <ul class="">
               <li><a href="">关于我们</a></li>
               <li><a href="">联系我们</a></li>
               <li><a href="">帮助中心</a></li>
               <li><a href="">客服中心</a></li>
               <li><a href="">加入我们</a></li>
               <li><a href="">作家专区</a></li>
               <li><a href="">动漫频道</a></li>
               <li><a href="">游戏专区</a></li>
               <li><a href="">举报中心</a></li>
           </ul>
       </div>
       <div id="footer2">
           <p>Copyright © 2019-2019 www.ZongHeng.com All Rights Reserved版权所有  广东纵横科技发展有限公司</p>
           <p>广东纵横科技发展有限公司 <a href="#">粤ICP证090888号粤ICP备09093688号-1</a>粤网文[2019]0068-068号新出网证（粤）字888号</p>
           <p>请所有作者发布作品时务必遵守国家互联网信息管理办法规定，我们拒绝任何色情小说，一经发现，即作删除！客服电话：0757-59357051</p>
           <p></p>
           <p>本站所收录作品、社区话题、书库评论及本站所做之广告均属个人行为，与本站立场无关</p>
       </div>
   </div>
</footer>
<script src="../js/jquery-1.12.4.js"></script>
<script src='../js/bootstrap.min.js'></script>
<script>

</script>
</body>
</html>