<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>纵横小说网头部</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/header.css">
    <style></style>
</head>
<body>
<!--头部-->
<header class="header-fixed-top">
    <div id="header1">
        <a href="#"><img class="picimg1" src="../images/index/logo.png" alt=""></a>
        <img id="picimg3" src="../images/index/定位.png" alt=""> <span id="city"></span><span id="ip"></span>
        <div id="header2" class="input-group">
            <input type="text" class="form-control" placeholder="傲气如我">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button">搜索</button>
        </span>
        </div>
        <ul class="text-right">
            <li><a href="#">登录  |</a></li>
            <li><a href="#">注册</a></li>
        </ul>
        <a href="#"><img id="picimg2" src="../images/index/time.png" alt=""></a>
    </div>
    <nav class="text-center mynav" style="display: none">
        <ul class="">
            <li class="" id="actives">
                <i class="glyphicon glyphicon-th-list"></i>&nbsp;全部分类
                <div id="activediv" style="display: none">
                    <dl>
                        <dd><a href="#">现代言情</a></dd>
                        <dd><a href="#">古代言情</a></dd>
                        <dd><a href="#">浪漫青春</a></dd>
                        <dd><a href="#">玄幻言情</a></dd>
                        <dd><a href="#">仙侠奇缘</a></dd>
                        <dd><a href="#">悬疑灵异</a></dd>
                        <dd><a href="#">科幻空间</a></dd>
                        <dd><a href="#">游戏竞技</a></dd>
                        <dd><a href="#">短篇小说</a></dd>
                        <dd><a href="#">N元次</a></dd>
                    </dl>
                </div>
            </li >
            <li><a href="#">排行榜</a></li>
            <li><a href="#">免费</a></li>
            <li><a href="#">完本</a></li>
            <li><a href="#">古言</a></li>
            <li><a href="#">现言</a></li>
            <li><a href="#">玄幻仙侠</a></li>
            <li><a href="#">灵异科幻</a></li>
            <li><a href="#">青春游戏</a></li>
            <li><a href="#">风尚阁</a></li>
            <li><a href="#">N元次</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-jpy"></i>充值</a></li >
            <li><a href="#">作家专区</a></li>
        </ul>
    </nav>
</header>
<script src="../js/jquery-1.12.4.js"></script>
<script src='../js/bootstrap.min.js'></script>
<script src="http://pv.sohu.com/cityjson"></script>
<script>
    $(function(){
        $('.mynav').slideDown(1000);
//    鼠标移至导航栏时显示下拉框
        $('#actives').mouseenter(function(){
            $("#activediv").slideDown(500);
        })
        $('#actives').mouseleave(function(){
            $("#activediv").slideUp(500);
        })

        // 获取当前IP地址
        $('#city').html(returnCitySN["cityp"]);
        //获取城市ajax
        $.ajax({
            url: 'http://api.map.baidu.com/location/ip?ak=ia6HfFL660Bvh43exmH9LrI6',
            type: 'POST',
            dataType: 'jsonp',
            success:function(data) {
                $('#city').html( data.content.address_detail.city)
            }
        });

    })
</script>
</body>
</html>